.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.Applogo {
  height: 40vmin;
  pointer-events: none;
}

.yoko {
  display: flex;
  justify-content: center;
  padding-top: 1vw;
  width: 100vw;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .Applogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.side {
  padding-left: 1vw;
}

.mokuhyou {
  height: 200px;
  /* width: 200px; */
  padding-top: 1vw;
}

.okame {
  width: 200px;
}

.hiduke {
  width: 500px;
  /* height: 600px; */
}

.Appheader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fc .fc-daygrid-body-natural .fc-daygrid-day-events {
  margin-bottom: 0em !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
