.App {
  text-align: center;
  width: 100vw;
  height: 100vw;
}

.Applogo {
  height: 40vmin;
  pointer-events: none;
}

.yoko {
  display: flex;
  padding-left: 10vw;
  padding-top: 1vw;
  width: 100vw;
  height: 100vw;
}

@media (prefers-reduced-motion: no-preference) {
  .Applogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.side {
  padding-left: 10vw;
}

.mokuhyou {
  height: 200px;
  width: 200px;
  padding-top: 1vw;
}

.hiduke {
  padding-top: 2vw;
  padding-left: 5vw;
}

.Appheader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
